

<h1>Detalles del Producto</h1>
<h2>{{producto.title}}</h2>
<p>{{producto.description}}</p>
<p>Precio: ${{producto.price}}</p>
<p>Stock: {{producto.stock}}</p>

<button class="btn btn-success">Agregar al carrito</button>